<!DOCTYPE html>
<html>


	<%# Sup. This is the html head. %>
	<head>

		<title>Lynda Stuart Curry, Artist</title>

		<meta
			name="keywords"
			content="Lynda Curry, Lynda Stuart Curry, artist, painter, new york, north carolina, chapel hill">

		<meta
			http-equiv="Content-Type"
			content="text/html;charset=utf-8">

		<link
			rel="stylesheet"
			type="text/css"
			href="public/styles/lynda.css">

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	</head>


	<%#
		This is the body.
		the "page" variable below is setup in the route definition for the page
	%>
	<body class="<%= page %>">

		<div id="container">

		<div id="header">

			<a href="/">
				<img src="public/images/site/name.gif">
			</a>

			<ul id="mainNav">
				<li><a href="gallery" class="gallery">images</a></li>
				<li><a href="cv" class="cv">cv</a></li>
				<li><a href="contact" class="contact">contact</a></li>
				<li><a href="bio" class="bio">bio</a></li>
			</ul>

		</div>

		<div id="mainContent">

			<%#
				the "body" variable is automatically created when the
				is snapshotted and made available to the layout
			%>
			<%- body %>

		</div>

		<div id="footer">
			<p id="copyright">
				&copy; All content and original art is copywritten material of Lynda Stuart Curry
				<span class="web-tag">
					site crafted by
					<a href="mailto:bmfitzgerald3@gmail.com?subject=inquiry from Lynda Curry's site">
						Brian FitzGerald
					</a>
				</span>
			</p>
		</div>

		</div>

	</body>


</html>