
<div id="mainContent" style="width: 500px; float: right;">

	<h1>Lynda Stuart Curry</h1>
	<h2>b.1972</h2>

	<p>
		Lynda Curry is a visual artist who works in painting, collage, photography, and a wide
		range of mixed media.
	</p>

	<p>
		She studied at Chautauqua School of Art, NY , Vermont Studio Center Residency
		Program and earned a BFA from East Carolina University. Lynda has painted along side
		Monhegan Is., ME artists, taught At-Risk Youth in NC, operated a local artist’s gallery
		and assisted Mike+Doug Starn in their studio in Beacon, NY. Lynda currently resides
		and works in Chapel Hill, NC,continuing to focus on community and art.
	</p>

</div>