
<img
	src="public/images/site/contact.jpg"
	width="350"
	height="263"
	class="borderPad">

<p class="contact-phone">LIGHT gallery: 919-942-7077</p>

<a
	href="http://www.lightartdesign.com"
	class="contact-data">
	http://www.lightartdesign.com
</a>

<a
	href="mailto:lightartdesign@gmail.com"
	class="contact-data">
	lightartdesign@gmail.com
</a>

<a
	href="mailto:lynda@lyndacurry.com"
	class="contact-data">
	lynda@lyndacurry.com
</a>