<div id="mainContent">

	<div id="cvContainer">

		<h1>Lynda Stuart Curry <span class="cvSubtle">b. 1972</span></h1>

		<h2 class="cvListHeader">Education:</h2>

		<ul class="cvList">
			<li>Chautauqua School of Art   /   Chautauqua, NY   / 1989 and 1991</li>
			<li>East Carolina University / Greenville, NC   /   BFA Painting 1996</li>
			<li>Monhegan Island, Maine - workshop   1997</li>
			<li>Vermont Studio Center Residency Program   /   2006 + 2009</li>
			<li>Assistant for Mike+Doug Starn / Beacon, NY 2010</li>
		</ul>

		<h2 class="cvListHeader">Exhibitions:</h2>

		<ul class="cvList">
			<li>LIGHT / RE Show/ Group Show / 2013</li>
			<li>LIGHT Lynda Curry, Harrison Haynes, Casey Cook Show 2012</li>
			<li>LIGHT / Metal / Group show / NC 2011</li>
			<li>LIGHT/ For the Birds / Group show /NC 2011</li>
			<li>LIGHT / Elemental / Group show / NC 2011</li>
			<li>Sitzer-Spuria / FIRE / Group show / NC 2010 </li>
			<li>Art House Gallery / solo show / Beacon, NY 2010 </li>
			<li>Spire Studios / Love&Lust / group show / Beacon, NY 2010</li>
			<li>Sitzer-Spuria Studios   /   Group Show   /   Carrboro, NC   /   May 2009</li>
			<li>Sitzer-Spuria Studios   /   TEXTURE&LIGHT   /   Carrboro, NC   /   October 2008</li>
			<li>Sitzer-Spuria Studios   /   Gallery - group show /   Carrboro, NC   /   August 2007</li>
			<li>Sitzer-Spuria Studios   /   ART+DESIGN /   Carrboro, NC   /   May 2006</li>
			<li>Rebus Gallery   /   Raleigh, NC   /   May   2006</li>
			<li>Red Hat, Inc. / solo show /   Raleigh, NC   /   January - April 2006</li>
			<li>Page Walker Arts and History Center - solo show   /   Cary, NC   /   September 2005</li>
			<li>Durham Arts Guild /   group show   /   Durham, NC   2005</li>
			<li>The Arts Center / Photography - juried show   /   Carrboro, NC   2005</li>
			<li>Fine Arts League   / 11th Annual Juried Competition / Cary, NC 2005</li>
			<li>NC Women's Center / Through Women's Eyes - juried show   / Chapel Hill, NC 2005</li>
			<li>University of North Carolina   / Mail Art / group show   /   Chapel Hill, NC 2004</li>
		</ul>

		<h2 class="cvListHeader">Awards / Grants:</h2>

		<ul class="cvList">
			<li>Vermont Studio Center artist grant 2006 + 2009</li>
			<li>Chautauqua School of Art artist Grant 1989 + 1991</li>
		</ul>

		<h2 class="cvListHeader">Public Collections:</h2>

		<ul class="cvList">
			<li>Fidelity Investments</li>
		</ul>

	</div>

</div>