
<div id="mainContent">
	<a href="gallery.php">
		<img src="public/images/gallery/text/01.jpg" id="welcome" class="borderPad">
	</a>

	<ul id="homeNav">
		<li><a href="gallery.php">images</a></li>
		<li><a href="cv.php">cv</a></li>
		<li><a href="contact.php">contact</a></li>
	</ul>

</div>